source: of data : https://www.donneesquebec.ca/recherche/dataset/vehicules-en-circulation/resource/f8f2865a-b33c-4e8f-828c-9b28188691a2

description des variables aussi dans la page.
lien direct: https://www.donneesquebec.ca/recherche/dataset/4aea7984-10ec-4d4f-80e4-5bb9a0006996/resource/00ea3ac1-da3c-4ece-aa8c-a2e88529447b/download/vehicules-circulation-documentation.pdf

In [ ]:
#!conda install -c conda-forge python-docx

In [44]:
import pandas as pd
from docx import Document # Install it or hide it
from pathlib import Path
from IPython.display import display

In [45]:
filename = 'Vehicule-en-circulation-2021.csv'
save_dir = 'media'

In [13]:
df = pd.read_csv(filename,dtype={'AN':int,'ANNEE_MOD':"Int64"})

In [33]:
ev = df[(df['TYP_CARBU'] == 'L') & (df['REG_ADM']=='Montréal (06)') & (df['CLAS']=='PAU')]
ev.head()

,AN,NOSEQ_VEH,CLAS,TYP_VEH_CATEG_USA,MARQ_VEH,MODEL_VEH,ANNEE_MOD,MASSE_NETTE,NB_CYL,CYL_VEH,NB_ESIEU_MAX,COUL_ORIG,TYP_CARBU,TYP_DOSS_PERS,PHYS_SEX,PHYS_AGE,REG_ADM,MRC,CG_FIXE
11,2021,2021_0000000012,PAU,AU,CHEVR,BOLT,2020,1637.0,NaN,NaN,NaN,NOI,L,P,F,37.0,Montréal (06),Montréal (66 ),66023.0
1626,2021,2021_0000001627,PAU,AU,TESLA,MODEL,2021,1640.0,NaN,NaN,NaN,NOI,L,P,M,57.0,Montréal (06),Montréal (66 ),66023.0
1759,2021,2021_0000001760,PAU,AU,CHEVR,BOLT,2020,1637.0,NaN,NaN,NaN,GRI,L,P,F,67.0,Montréal (06),Montréal (66 ),66023.0
2519,2021,2021_0000002520,PAU,AU,TESLA,MODEL,2021,1640.0,NaN,NaN,NaN,GRI,L,M,NaN,NaN,Montréal (06),Montréal (66 ),66023.0
3839,2021,2021_0000003840,PAU,AU,KIA,SOUL,2021,1754.0,NaN,NaN,NaN,BLA,L,M,NaN,NaN,Montréal (06),Montréal (66 ),66023.0

In [62]:
#gev = ev.groupby(by=['MARQ_VEH','MODEL_VEH','ANNEE_MOD', 'COUL_ORIG'])
gev = ev.groupby(by=['MARQ_VEH','MODEL_VEH','ANNEE_MOD'])
#gev = ev.groupby(by=['MARQ_VEH', 'MODEL_VEH', 'COUL_ORIG'])
gev = ev.groupby(by=['MARQ_VEH','MODEL_VEH'])
g = gev.size()
top10 = g.nlargest(10).reset_index().rename(columns={0:'Quantité'})

display(top10)

  MARQ_VEH MODEL_VEH  Quantité
0    TESLA     MODEL      3987
1    NISSA      LEAF      1078
2    CHEVR      BOLT       846
3    HYUND      KONA       749
4    TESLA         S       468
5    HYUND     IONIQ       350
6      KIA      SOUL       317
7    VOLKS     E-GOL       304
8    TESLA         X       255
9      KIA      NIRO       198

In [63]:
doc = Document()
doc.add_heading('Données de la SAAQ', 0)

doc.add_paragraph('Top 10 en 2021')
t_df = top10

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(t_df.shape[0]+1, t_df.shape[1])
#t.style = 'LightShading-Accent1'
# add the header rows.
for j in range(t_df.shape[-1]):
    t.cell(0,j).text = str(t_df.columns[j])
# add the rest of the data frame
for i in range(t_df.shape[0]):
    #print(i)
    r = t_df.index[i]
    for j in range(t_df.shape[-1]):
        t.cell(i+1,j).text = str(t_df.values[i,j])

# save the doc
doc.save(Path(save_dir, 'top10_SAAQ_2021.docx'))